<%- include('includes/head' , {title:"Moneyy - Internal Server Error"})%>
  </head>
  <body>
   <%- include("includes/header")%>
   <main>
       <h1>Page Not Found</h1>
       <p><a href="/home" id="new-account-button">Back to Safety</a></p>
    </main>
<%- include("includes/footer")%>
