<%- include('includes/head' , {title:"Moneyhub - Internal Server Error"})%>
  </head>
  <body>
   <%- include("includes/header")%>
   <main>
       <h1>An error occurred</h1>
       <p>We are working to solve this issue - please try again later.</p>
       <p><a href="/home" id="new-account-button">Back to Safety</a></p>
    </main>
<%- include("includes/footer")%>
