<%- include('shared/includes/head' , {title:"Moneyhub - Welcome to Moneyhub"})%>
  </head>
  <body>
   <%- include("shared/includes/header")%>
   <main>
       <h1>Welcome to Moneyhub</h1>
       <p>We provide best banking services - Make MoneyHub account now</p>
       <p><a href="/create-account" id="new-account-button">Make new Account</a></p>
       <p>Or <a href="/login">Login Instead</a></p>
    </main>
<%- include("shared/includes/footer")%>
