<footer>
    <p>The UI is inspired by one of the most famous sites. The Author of this website is Abdul Ghani. Reach me through my email <email>itsaghani@gmail.com</email>.></p>
    <p> My github repo link: <a href="https://github.com/AbdulGhani002/Bank-App.git" target="_blank">Bank App</a</p>
    <p>&copy;Abdul Ghani</p>
</footer>
</body>
</html>