<footer>
    <p>The UI is inspired by Pornhub. The Author of this website is Abdul Ghani. Reach me through my email <email>itsaghani@gmail.com</email></p>
    <p>&copy;Abdul Ghani</p>
</footer>
</body>
</html>