<header>
  <section>
    <h2>
      <a href="/home" id="page-title"
        >Moneyy<span id="yellow-background-logo"></span></a
      >
    </h2>
  </section>
  <section>
    <nav>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" id="menu-icon">&#9776;</label>
      <ul>
        <% if(userData && accountDetails) { %>
          <li><a href="/home">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else{%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Make new Account</a></li>
        <%}%>
      </ul>
    </nav>
  </section>
</header>
