<header>
  <section>
    <h2>
      <a href="/" id="page-title"
        >Money<span id="yellow-background-logo">hub</span></a
      >
    </h2>
  </section>
  <section>
    <nav>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/create-account">Make new Account</a></li>
        <li><a href="">History</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </nav>
  </section>
</header>
