<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
    <meta
      name="google-site-verification"
      content="Eg8ekzJENIo5D9Qgasp_dB4oihX180LmltTSLtx3G6Q"
    />
    <meta name="robots" content="index, follow">
    <meta name="author" content="Muhammad Abdul Ghani Qureshi">
    <meta name="keywords" content="personal finance, budgeting, money management, financial planning, moneyy">
    <meta name="description" content="moneyy is your all-in-one personal finance app. Easily manage your budget, track expenses, and make informed financial decisions. Sign up for free today!">
    <meta property="og:url" content="https://bank-app-production-0956.up.railway.app">
    <meta property="og:title" content="moneyy: Manage Your Finances Simply">
    <meta property="og:description" content="moneyy is your all-in-one personal finance app. Easily manage your budget, track expenses, and make informed financial decisions. Sign up for free today!">
    <meta property="og:image" content="https://bank-app-production-0956.up.railway.app/logo.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="moneyy">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@https://bank-app-production-0956.up.railway.app/">
    <meta name="twitter:creator" content="@https://bank-app-production-0956.up.railway.app/">
    <meta name="twitter:title" content="moneyy: Manage Your Finances Simply">
    <meta name="twitter:description" content="moneyy is your all-in-one personal finance app. Easily manage your budget, track expenses, and make informed financial decisions. Sign up for free today!">
    <meta name="twitter:image" content="https://bank-app-production-0956.up.railway.app/logo.png">
    <meta name="twitter:image:alt" content="moneyy Logo">
    <meta name="twitter:domain" content="bank-app-production-0956.up.railway.app">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="3 minutes">
    <meta name="twitter:label2" content="Written by">
    <meta name="twitter:data2" content="Muhammad Abdul Ghani Qureshi">
    <meta name="twitter:label3" content="Filed under">
    <meta name="twitter:data3" content="Personal Finance">
    <meta name="twitter:label4" content="Updated">
    <meta name="twitter:data4" content="2022-01-01">
    <meta name="twitter:label5" content="Reading time">
    <meta name="twitter:data5" content="3 minutes">
    <meta name="twitter:label6" content="Comments">
    <meta name="twitter:data6" content="3">
    <meta name="twitter:label7" content="Likes">
    <meta name="twitter:data7" content="5">
    <meta name="twitter:label8" content="Shares">
    <meta name="twitter:data8" content="2">
    <meta name="twitter:label9" content="Views">
    <meta name="twitter:data9" content="1000">
    <meta name="twitter:label10" content="Published">
    <meta name="twitter:data10" content="2022-01-01">
    <meta name="twitter:label11" content="Written in">
    <meta name="twitter:data11" content="English">
    <meta name="twitter:label12" content="License">
    <meta name="twitter:data12" content="CC BY-NC-SA 4.0">
    <meta name="twitter:label13" content="Copyright">
    <meta name="twitter:data13" content="2022, Muhammad Abdul Ghani Qureshi">
    <title><%=title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
</html>
