<header>
  <section>
    <h2>
      <a href="/home" id="page-title"
        >Money<span id="yellow-background-logo">hub</span></a
      >
    </h2>
  </section>
  <section>
    <nav>
      <ul>
        <% if(userData && accountDetails) { %>
        <li><a href="/logout">Logout</a></li>
        <% } else{%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Make new Account</a></li>
        <%}%>
      </ul>
    </nav>
  </section>
</header>
