/* General styles */
main {
  width: 40%;
  margin: 0 auto; /* Center the main content */
  text-align: center; /* Center the content inside main */
}

input {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

hr {
  margin: 1rem auto; /* Center the hr */
  width: 60%;
  max-width: 300px; /* Limit hr width for smaller screens */
  color: var(--color-primary-900);
}

/* Error and success messages */
.error, .success {
  border-radius: 5px; 
  padding: 1rem;
  font-size: 1rem;
  width: 90%; /* Adjust message width for smaller screens */
  max-width: 300px; /* Limit message width for smaller screens */
  margin: 1rem auto; /* Center the message */
  text-align: center;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  main {
    width: 60%; /* Adjust main width for smaller screens */
  }
}

/* Further adjustments for extra small screens */
@media screen and (max-width: 576px) {
  main {
    width: 80%; /* Further adjust main width for extra small screens */
  }

  input, label, button, hr, .error, .success {
    width: 100%; /* Make input, label, button, hr, and messages full width */
    max-width: none; /* Remove max-width for smaller screens */
  }
}
