
main {
  width: 40%;
  margin: 7rem auto; 
  text-align: center; 
}

input {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

hr {
  margin: 1rem auto; 
  width: 60%;
  max-width: 300px; 
  color: var(--color-primary-900);
}


.error, .success {
  border-radius: 5px; 
  padding: 1rem;
  font-size: 1rem;
  width: 90%; 
  max-width: 300px; 
  margin: 1rem auto;
  text-align: center;
}

.error {
  background-color: var(--color-error);
  color: var(--color-error-contrast);
}
.success {
  background-color: var(--color-success);
  color: var(--color-success-contrast);
}
@media screen and (max-width: 768px) {
  main {
    width: 60%; 
  }
}

@media screen and (max-width: 576px) {
  main {
    width: 80%;
  }

  input, label, button, hr, .error, .success {
    width: 100%;
    max-width: none;
  }
}
