main {
  width: 40%;
}
input {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}
label {
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

hr {
  margin: 1rem;
  width: 60%;
  color: var(--color-primary-900);
}
