main {
  margin: 0;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 3.25rem;
}

main ul#home-page-menu {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:1fr 1fr; 
  gap: auto; 
  list-style-type: none;
}

main ul#home-page-menu li a {
  font-size: 1.5rem;
  color: var(--color-primary-500-contrast);
  margin-bottom: 1.5rem;
  display: flex; 
  align-items: center;
  transition: all 0.3s ease;
}

main ul#home-page-menu li a:hover {
  color: var(--color-primary-900);
  transform: scale(1.05);
}

main ul#home-page-menu li a img {
  margin-right: 1rem; 
  height: 5rem;
  filter: invert(100%);
}


@media screen and (max-width: 768px) {
  main {
    padding: 0 1rem; 
  }

  h1 {
    font-size: 2.5rem;
  }

  main ul#home-page-menu {
    gap: 1rem; 
  }
  main ul#home-page-menu li a img{
    height: 3rem;
  }
}


@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem; 
  }

  main ul#home-page-menu {
    grid-template-columns: 1fr; 
  }

  main ul#home-page-menu li a {
    margin-bottom: 1rem; 
  }
}